<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="LocalDatabase"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=egosaToolAPI_db;Integrated Security=True;Connection Timeout=5;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>